{% extends 'layout.html' %}

{% block content %}
  <div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="text-center">
                <img src="https://picsum.photos/1000/1000" alt="Company Avatar" class="avatar">
            </div>
            <div class="text-center about-text">
                <h1>About Us</h1>
                <p>Welcome to our website! We are a dedicated team of professionals passionate about what we do.</p>
                <p>Our mission is to provide top-quality products/services to our customers and ensure their satisfaction.</p>
                <p>With years of experience and expertise in our field, we strive to deliver innovative solutions that meet the needs of our clients.</p>
                <p>Feel free to explore our website and contact us for any inquiries or collaboration opportunities.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
